/* CSS Template

Change Colors wherever you want.
*/

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0px;
    padding: 0px;
}


/* Layout Styling */

.container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 150px auto 70px;
}

header {
    background-color: yellowgreen;
    grid-column: 1 / -1;
}

main {
    background-color: aquamarine;
    grid-column: 1 / -1;
}

footer {
    background-color: grey;
    grid-column: 1 / -1;
}


/*xxx End Of Layout Styling xxx*/


/* Header Styling */


/* Content Page Styling */


/* Page will display in a grid of two columns. */

.content-section-diseases {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.content-section-wellness {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.content-section-hacks {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


/* Styling for all pages containing an article. */

article {
    display: grid;
    grid-template-columns: 80px 1fr 80px;
    grid-gap: 10px;
}

article>* {
    grid-column: 2;
    min-width: 0px;
}


/* article>aside {
    grid-column: 3;
    color: grey;
    font-size: 8pt;
} */

article>.figure {
    grid-column: 1 / -1;
    margin: 20px;
}

article .figure img {
    min-width: 100%;
    height: 360px;
}