@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

/* CSS Template

Change Colors wherever you want.
*/

* {
    box-sizing: border-box;
    text-decoration: none;
}

body {
    height: 100vh;
    margin: 0px;
    padding: 0px;
}


/* Layout Styling */

.container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto;
}

header {
    grid-column: 1 / -1;
}

main {
    grid-column: 1 / -1;
}

footer {
    grid-column: 1 / -1;
}


/*xxx End Of Layout Styling xxx*/


/* Header Styling */

header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background: #ffff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    padding-right: 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .logo img {
    max-width: 130px;
    max-height: 100px;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    left: 5px;
    z-index: 1000
}

header .navbar ul {
    list-style: none;
}

header .navbar ul li {
    position: relative;
    float: left;
}

header .navbar ul li a {
    font-size: 20px;
    padding: 20px;
    color: #333;
    display: block;
}

header .navbar ul li a:hover {
    background-color: #333;
    color: #fff;
}

.navbar a.active {
    background-color: #333;
    color: white;
}

header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background: #fff;
    display: none;
}

header .navbar ul li ul li {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

header .navbar ul li ul li ul {
    left: 200px;
    top: 0;
}

header .navbar ul li:focus-within>ul,
header .navbar ul li:hover>ul {
    display: initial;
}

#menu-bar {
    display: none;
}

header label {
    font-size: 20px;
    color: #333;
    cursor: pointer;
    display: none;
}

button {
    outline: none;
    background: #333;
    padding: 20px;
    position: relative;
    float: left;
    color: white;
    font-family: 'roboto', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    border-radius: 2px;
    font-size: 10px;
}


/*xxxx Header Ends Here xxxx*/


/* About page styling */

.about-row {
    align-items: flex-end;
    padding: o;
}

.about-column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.about-card {
    box-shadow: 0 6px 12px 0 rgba(11, 197, 42, 0.2);
    margin: 8px;
}

.about-card img {
    border-radius: 10%;
}

.about-section {
    padding: 50px;
    text-align: center;
    background-color: #08c97f;
    color: white;
}

.about-info {
    padding: 0 16px;
    background-color: #08c97f;
}

.about-info::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.about-title {
    color: rgb(201, 15, 15);
}

.about-button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.about-button:hover {
    background-color: #555;
}

@media screen and (max-width: 650px) {
    .about-column {
        width: 100%;
        display: block;
    }
}


/* Content Page Styling */


/* Page will display in a grid of two columns. */

.content-section-diseases {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.content-section-wellness {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.content-section-safety {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


/*xxxx End of grid layout. xxxx*/


/* Styling for Content Page */

.content-section {
    padding: 4px;
}


/* .content-section img {
    max-width: 360px;
} */

.content-section a button {
    text-align: center;
    width: 100%;
}

.content-section .btn {
    background-color: rgb(30, 30, 204);
    padding: 5px;
    border-radius: 8px;
    margin-top: 1%;
    opacity: .9;
    cursor: pointer;
}

.content-section .btn:hover {
    opacity: 1;
}

.free-button {
    display: grid;
    grid-column: 1 / -1;
    width: 100%;
}

.content-image {
    height: 200px;
    width: 360px;
    padding: 4px;
}


/*xxxx End of content page styling xxxx*/


/* Styling for all pages containing an article. */

article {
    display: grid;
    grid-template-columns: 80px 1fr 80px;
    grid-gap: 10px;
    background: #ddd;
    color: #000;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

article p {
    text-align: left;
}

article h2 {
    text-align: left;
}

.articles-list a {
    text-align: center;
}

.articles-list a p {
    color: #000;
}

article>* {
    grid-column: 2;
    min-width: 0px;
    background: #ddd;
}


/* article>aside {
    grid-column: 3;
    color: grey;
    font-size: 8pt;
} */

article>.figure {
    grid-column: 1 / -1;
    margin: 20px;
}


/* article .figure img {
    min-width: 100%;
    height: 360px;
} */

.recent {
    display: flex;
}

.recent>* {
    width: 100%;
}

.recent img {
    height: 150px;
    width: 200px;
}


/* login styling starts here*/

.login {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    font-weight: bold;
    text-align: center;
}

h2 {
    color: rgb(42, 112, 139);
    font-family: Arial;
}

input[type=text],
input[type=password] {
    width: 50%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.btn {
    background-color: #04aa6d;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 40%;
    opacity: 0.9;
}

.btn:hover {
    opacity: 1;
}

a {
    color: dodgerblue;
}

.reg {
    background-color: #f1f1f1;
    text-align: center;
    padding: 25px;
}


/* login styling ends here*/


/* registration styling starts here*/

h2 {
    color: rgb(42, 112, 139);
    font-family: Arial;
    text-align: center;
    padding: 20px;
}

p {
    text-align: center;
}

.row {
    padding: 0 2rem;
}

input[type=text],
input[type=password],
input[type=date],
input[type=email],
input[type=number],
input[type=tel],
select {
    width: 20%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    border-radius: 4px;
    background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=date]:focus,
input[type=date]:focus,
input[type=number]:focus,
input[type=tel]:focus,
select:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.reg-btn {
    background-color: rgb(173, 173, 31);
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 40%;
    opacity: 0.9;
}

.reg-btn:hover {
    opacity: 1;
}

a {
    color: dodgerblue;
}

.reg {
    background-color: #f1f1f1;
    text-align: center;
    padding: 25px;
}

.col {
    background-color: rgb(134, 51, 51);
    color: white;
    padding: 2px 10px;
}

.col-60,
.col-65 {
    text-align: center;
}

.col-65 input[type=password],
input[type=email],
input[type=tel] {
    width: 40%;
}

.faq-wrap {
    background-color: silver;
}

.faq {
    background-color: rgb(42, 112, 139);
    color: white;
    text-align: center;
}

h5 {
    font-size: 30px;
}

.ques {
    background-color: silver;
    color: rgb(197, 41, 13);
    padding: 5px;
    font-size: 20px;
    font-family: sans-serif;
}

.ans {
    background-color: dimgray;
    color: white;
    padding: 5px;
    font-family: sans-serif;
    font-size: 20px;
}

.pd,
.Donate {
    background-color: dimgray;
    padding: 5px;
    text-align: center;
}

.pd a,
.Donate a {
    text-decoration: none;
    padding: 5px 5px;
    color: white;
    font-size: 20px;
}


/*slide style starts here*/

.slider {
    width: 500px;
    height: 500px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.slider .image-wrap {
    height: 100%;
    white-space: nowrap;
    position: relative;
    transition: 0.8s;
}

.slider .image-wrap>* {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 100%;
    background: none 50% no-repeat;
    background-size: cover;
}

.slider .prnx {
    position: absolute;
    z-index: 1;
    top: 50%;
    width: 100%;
    height: 0;
}

.slider .prnx {
    visibility: hidden;
}

.slider .prnx a {
    background: #fff;
    position: absolute;
    width: 40px;
    height: 40px;
    text-align: center;
    opacity: 0.7;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.slider .prnx a:hover {
    opacity: 1;
}

.slider .prnx a+a {
    right: 0px;
}

.slider .dash {
    position: absolute;
    z-index: 2;
    bottom: 0;
    padding: 10px 0;
    text-align: center;
}

.slider .dash>a {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 25px;
    background: rgba(255, 200, 25, 1);
}

.slider .dash>a+a {
    background: rgba(255, 200, 25, 0.5);
}

.slider .dash>a:hover {
    background: rgba(255, 200, 25, 0.9);
}

.slider>s:target~.dash>* {
    background: rgba(255, 200, 25, 0.5);
}

#slide-1:target~.dash>*:nth-child(1) {
    background: rgba(255, 200, 25, 1);
}

#slide-2:target~.dash>*:nth-child(2) {
    background: rgba(255, 200, 25, 1);
}

#slide-3:target~.dash>*:nth-child(3) {
    background: rgba(255, 200, 25, 1);
}

#slide-4:target~.dash>*:nth-child(4) {
    background: rgba(255, 200, 25, 1);
}

#slider-1:target~.image-wrap {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
}

#slider-2:target~.image-wrap {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
}

#slider-3:target~.image-wrap {
    transform: translateX(-200%);
    -webkit-transform: translateX(-200%);
}

#slider-4:target~.image-wrap {
    transform: translateX(-300%);
    -webkit-transform: translateX(-300%);
}


/*slide style ends here*/


/* media query for registration*/

@media(max-width: 786px) {
    .hd h2 {
        color: rgb(42, 112, 139);
        padding-top: 10rem;
    }
    .ques p,
    .ans p {
        margin-bottom: 10px;
        font-size: 15px;
    }
    .dash {
        top: 478vh;
    }
    input[type=text],
    input[type=password],
    input[type=date],
    input[type=email],
    input[type=number],
    input[type=tel],
    select {
        width: 100%;
    }
}


/* registration styling ends here*/


/*donation styling starts here*/


/*heart style*/

.hrt {
    background-color: #660000;
    display: inline-block;
    height: 50px;
    width: 50px;
    position: relative;
    margin: 0 10px;
    top: 3rem;
    left: 3rem;
    transform: rotate(-45deg);
    animation: pulse 1.2s infinite;
}

.hrt:before,
.hrt:after {
    content: "";
    background-color: #660000;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    position: absolute;
}

.hrt:before {
    top: -20px;
    left: 0;
}

.hrt:after {
    left: 20px;
    top: 0;
}

@keyframes pulse {
    0% {
        transform: rotate(-45deg) scale(1);
    }
    50% {
        transform: rotate(-45deg) scale(1.5);
    }
    100% {
        transform: rotate(-45deg) scale(1);
    }
}

.hrt-text h3 {
    padding-left: 8rem;
    font-size: 25px;
    font-weight: bold;
}

.py,
.py-1 {
    padding: 1rem 1rem;
}

.py-btn {
    padding: 10px 30px;
    border: 10px;
}

.py-btn a {
    text-decoration: none;
    font-weight: bolder;
    font-size: 20px;
}

.py-btncls{
    padding: 0 3rem;
}

/*donation styling ends here*/


/* footer section */

footer {
    background: white;
    padding: 50px 20px;
    height: fit-content;
}

footer .footer-section {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .alexftr h3 {
    font-size: 1.4em;
    margin-bottom: 1.2em;
    color: black;
}

footer .alexcontent {
    list-style: none;
}

footer .alexcontent a {
    text-decoration: none;
    opacity: .6;
    line-height: 30px;
    transition: .3s ease opacity;
}

footer .alexcontent a:hover {
    opacity: 1;
}

footer .alexftr {
    flex-basis: 18%;
}

form.alexform {
    display: flex;
    align-items: center;
    width: 100%;
}

form .alexinput {
    border-radius: 5% solid rgb(18, 230, 18);
    outline: none;
    padding: 10px;
    margin: 5px 0;
    background: white;
    width: 100%;
}

.alexmidbtn input {
    background: rgb(28, 231, 28);
    color: grey;
    transition: 3s ease background;
}

.alexmidbtn input:hover {
    background: #000;
}


/* footer section ends */


/* footer section ends */


/*media query section  */

@media(max-width:991px) {
    header {
        padding: 20px;
    }
    header label {
        display: initial;
    }
    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #fff;
        border-top: 1px solid rgba(0, 0, 0, .1);
        display: none;
    }
    header .navbar ul li {
        width: 100%;
    }
    header .navbar ul li ul {
        position: relative;
        width: 100%;
    }
    header .navbar ul li ul li {
        background: #eee;
    }
    header .navbar ul li ul ul {
        width: 100%;
        left: 0;
    }
    #menu-bar:checked~.navbar {
        display: initial;
    }
    .col-2 {
        flex-basis: 100%;
        margin-bottom: 30px;
        margin-top: 40px;
    }
    .col-2 .nurse {
        margin-bottom: 20px;
    }
    .col-1 {
        flex-basis: 100%;
        top: -50px;
        position: relative;
    }
    .col-1 h2 {
        font-size: 35px;
    }
    .col-1 h3 {
        font-size: 15px;
    }
    footer .alexftr {
        flex-basis: 80%;
        margin: 0 auto;
    }
    .alexftr form {
        flex-direction: column;
    }
    form .alexinput {
        width: 90%;
        margin: 5px auto;
    }
    .recent {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .alexcontainer-1 {
        left: 20%;
        width: 320px;
    }
    .col-2 .nurse {
        width: 250px;
        height: 300px;
    }
    .recent {
        display: block;
    }
}

@media screen and (max-width: 496px) {
    .alexcontainer-1 {
        left: 20%;
        width: 300px;
    }
    header label {
        display: initial;
    }
    #menu-bar:checked~.navbar {
        display: initial;
    }
    .row {
        margin: 0 0;
        flex-direction: column-reverse;
    }
    .col-1 {
        flex-basis: 40%;
        position: relative;
        margin-left: 50px;
        margin-top: 10px;
    }
    .col-2 .nurse {
        width: 100%;
        margin-top: 20px;
    }
    .recent {
        display: block;
    }
}

@media screen and (max-width: 364px) {
    .alexcontainer-1 {
        left: 10%;
        width: 300px;
    }
    header label {
        display: initial;
    }
    #menu-bar:checked~.navbar {
        display: initial;
    }
    .row {
        margin: 0 0;
        flex-direction: column-reverse;
    }
    .col-1 {
        flex-basis: 40%;
        position: relative;
        margin-left: 50px;
        margin-top: 10px;
    }
    .col-2 .nurse {
        width: 100%;
        margin-top: 40px;
    }
    .recent {
        display: block;
    }
}


/* media query section ends */


/* Home Page */

.mid {
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}

.col-1 {
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
    margin-top: 50px;
}

.col-1 h2 {
    font-size: 54px;
    color: #fff;
}

.col-1 h3 {
    font-size: 30px;
    color: #fff;
    font-weight: 100;
    margin: 20px 0 10px;
}

.col-1 p {
    font-size: 16px;
    color: #fff;
    font-weight: 100;
}

.col-2 {
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}

.col-2 .nurse {
    width: 90%;
}

.mid .midbtn {
    margin-top: 2rem;
}

.mid .midbtn a {
    text-decoration: none;
    text-transform: uppercase;
}

.mid .midbtn a.border {
    color: #ff5733;
    border: 1px solid #ff5733;
    font-weight: 500;
    padding: 0.9rem 1.6rem;
    border-radius: 3px;
}

.mid .midbtn a.border:hover {
    background: #fff;
    border: 1px solid #fff;
}

.box-area2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.box-area3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.box-area2 .alexsingle-box .aleximg-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 200px;
    border: 6px solid #ddd;
    border-radius: 10%;
    margin-bottom: 10px;
    padding: 20px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}

.box-area3 .alexsingle-box .aleximg-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 200px;
    border: 6px solid #ddd;
    border-radius: 10%;
    margin-bottom: 10px;
    padding: 20px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}

.box-area2 .midbtn {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.box-area2 .midbtn a {
    text-decoration: none;
    text-transform: uppercase;
}

.box-area2 .midbtn a.border {
    color: #ff5733;
    border: 1px solid #ff5733;
    font-weight: 500;
    padding: 0.9rem 1.6rem;
    border-radius: 3px;
}

.box-area2 .midbtn a.border:hover {
    background: #fff;
    border: 1px solid #fff;
}

.box-area3 .midbtn {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.box-area3 .midbtn a {
    text-decoration: none;
    text-transform: uppercase;
}

.box-area3 .midbtn a.border {
    color: #ff5733;
    border: 1px solid #ff5733;
    font-weight: 500;
    padding: 0.9rem 1.6rem;
    border-radius: 3px;
}

.box-area3 .midbtn a.border:hover {
    background: #fff;
    border: 1px solid #fff;
}

.box-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 70px;
}

.alexsingle-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: auto;
    border-radius: 4px;
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    transition: .3s;
    text-align: center;
}

.aleximg-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border: 6px solid rgb(188, 217, 241);
    border-radius: 50%;
    margin-bottom: 10px;
    padding: 20px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}

.alexsingle-box:nth-child(1) .aleximg-area {
    background-image: url(images/1.png);
}

.alexsingle-box:nth-child(2) .aleximg-area {
    background-image: url(images/2.png);
}

.alexsingle-box:nth-child(3) .aleximg-area {
    background-image: url(images/3.png);
}

.box-area2 .alexsingle-box:nth-child(1) .aleximg-area {
    background-image: url(images/hacks.png);
}

.box-area2 .alexsingle-box:nth-child(2) .aleximg-area {
    background-image: url(images/firstaid.jpg);
}

.box-area2 .alexsingle-box:nth-child(3) .aleximg-area {
    background-image: url(images/Safetytips.jpg);
}

.box-area3 .alexsingle-box:nth-child(1) .aleximg-area {
    background-image: url(images/physical.png);
}

.box-area3 .alexsingle-box:nth-child(2) .aleximg-area {
    background-image: url(images/mental.jpg);
}

.box-area3 .alexsingle-box:nth-child(3) .aleximg-area {
    background-image: url(images/counsel.jpg);
}

.alexheader-text {
    font-size: 20px;
    font-weight: 500;
    line-height: 38px;
}

.aleximg-text {
    font-family: poppins;
    padding-top: 20px;
}

.aleximg-text p {
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
}

.alexsingle-box:hover {
    background: rgb(6, 199, 6);
    color: #fff;
}

.alexcontainer-1 {
    position: absolute;
    left: 14%;
    width: 970px;
    height: 50px;
    border-bottom: 5px solid #000;
    line-height: 50px;
    overflow: hidden;
}

.alexcontainer-1 span {
    color: #fff;
    font-size: 30px;
    background: green;
    display: inline-block;
    padding: 2px 20px;
    text-transform: uppercase;
}

.alexcontainer-1 span:before {
    position: absolute;
    content: "";
    width: 46%;
    height: 100%;
    background: green;
    z-index: -1;
    transform: rotate(45deg);
}


/* Body and main section ends */


/* slider section */

#slider {
    overflow: hidden;
    max-width: 700px;
    border: 10px solid rgb(28, 231, 28);
    margin: 80px auto;
    position: relative;
}

#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

#slider figure img {
    float: left;
    width: 20%;
}

#slider img {
    width: 500px;
    height: 500px;
}

@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}